{{extend 'layout.html'}}

<div class="container">
    <div class="row">
        <div id="web2py_user_form" class="col-lg-6">
        	<p class="lead">About</p>
<p><iframe width="700" height="393" frameborder="0" src="https://player.vimeo.com/video/150806053?color=ff9933"></iframe></p>
        	<h1>About Special Camps</h1>
          <div class='container col-sm-4'>
          Special Camps provides opportunities for children and adults with intellectual disabilities to experience new activities, form friendships, increase independence and self esteem in 2 week long, loving, all volunteer run summer camps. With proper supervision by trained staff, and 24 hour nursing, Special Camps is a safe overnight camp for intellectually disabled kids and adults who could otherwise not attend similar camp programs due to physical, medical or intellectual limitations.
Campers play alongside a teen volunteer,
who introduces them to swimming, archery,
sports, horseback riding, grooming and painting
activities, crafts, water sports, “gold mining”, field
games, songs and dance in a structured setting, under trained adult supervision. Evening entertainment encourages social skills and interaction through play which includes hayrides, bingo, campfire songs and dancing.
 
Not only do we focus on the growth and development of our campers, Special Camps also provides training and experience to it’s volunteer staff and counselors. At camp, volunteers experience personal growth, leadership skills, gain hands on experience while living side by side with our wonderful campers, and learn some sign language. Volunteers have intense interactions with special needs campers that enhance lifetime opportunities and lead to personal and professional growth.
﻿
﻿Special Camps provides week long respite to families and caregivers. Raising a child with special needs can be a very rewarding experience, but can also provide life-long care and financial challenges. That's why Special Camps providesfinancial scholarships to any camper in need.
          </div>
        </div>
    </div>
</div>

