{{extend 'layout.html'}}

<div class="container">
  <div class="row">
    <div id="web2py_user_form" class="span8">
      <p class="lead">Camp Parent Questionnaire</p>
      <p>
      	This camp parent questionnaire will be given directly to the cabin parents (the adult staff members who reside within your son or daughters cabin). Please assist them in making your campers stay more comfortable.<hr>
      </p>
      <div>
      	<h3>Please fill out the form below</h3>
    	</div><br><br>
      {{=form}}
    </div>
  </div>
</div>
