{{extend 'layout.html'}}

<div class="container">
  <div class="row">
    <div id="web2py_user_form" class="col-lg-6">
      <h2>Camp Fee:</h2>
      <p>
      	The camp fee of $300 is due with the application. The actual cost to support you camper for a week is over $600. Please consider contributing more than the required fee if you are able.
      </p>
      <p>
      	If for any reason we are unable to accept your camper, you payment will be returned. If you are no longer able to attend camp, you must notify us by May 15th or your deposit will be forfited. If you are unable to pay $300 now, please pay $150 now and $150 on the first day of camp, or call Colleen at (630) 690-0944 as a few scholarships are available. 
      </p>
        {{=form}}
     </div>
  </div>
</div>
