{{extend 'layout.html'}}

<div class="container">
  <div class="row">
    <div id="web2py_user_form" class="span8">
			 <p>
     		Dear Potential Camp Conselor,
     	</p>
			 <p>
			 	Special Camps is now accepting application for its all volunteer summer camp for children and adults with intellectual disabilities. To apply, you must have completed ninth grade by June, 2016 and be committed to spending one full week at camp.
			 </p>
			 <p>
			 	We will be taking everyone by bus to White Pines Ranch, for an authentic dude ranch experience. White Pines Ranch is located in Oregon, IL about 30 minutes west of DeKalb. Orientation and training will be held early on Sunday before the campers arrive.
			 </p>
			 	<p>
			 		<strong>
			 		There will be two sessions:<br>
			 		June 5-10 for adults with intellectual disabilities<br>
			 		June 12-17 for children with intellectural disabilities<br>
			 	</strong>
			 	</p>
			 	<p>
			 		We will be going on trail rides with over 75 horses, diggin for fossils, swimming, completing crafts, music, sports, archery, wood working, painting t-shirts, and playing field games alongside out special needs campers. The door rooms are carpeted and air-conditioned.
			 	</p>
			 	<p>
			 		As a camp counselor, you will be a best friend, teacher, and coach to one to two campers with intellectual disabilities. A few of our campers also have physical disabilities. Our campers are pretty independent in caring for their daily living skills, but some may need verbal directions for brushing their teeth, tying shoes, and showering. We will need 110 camp counselors between the two weeks. It's a very rewarding experience and an opportunity to make some great new friends. 
			 	</p>
			 	<p>
			 		Counselors receive free time with other teen counselors after lunch and after campers have been tucked into bed at 9pm. Adult supervision is provided.
			 	</p>
			 	<p>
			 		If you have any questions, please don't hesitate to call or email me at mcdcolleen@yahoo.com
			 	</p>
			 	<hr>
    	<p class='lead'>
    		Please fill out the form below {{=form}}
    	</p>
    </div>
  </div>
</div>
