{{extend 'layout.html'}}
    <ul class="breadcrumb">
        <li><a href="">Home</a></li>
    </ul>
    <p class="lead">Summer is always an exciting time for us. Our full slate of offerings includes Youth and Adult Camps for all ages</p>
    <p><iframe width="700" height="393" frameborder="0" src="https://player.vimeo.com/video/150806053?color=ff9933"></iframe></p>
    <h1>Kids Week</h1>
    <p>Kids week is designed to encourage growth in all areas of a child’s life. We work hard to provide a loving, exciting and energizing environment where life-changing moments can happen on a daily basis.</p>
    <ul class="thumbnails gallery gallery-10-1"><li class="gallery-item"><a class="thumbnail img-thumbnail" href=''><img width="150" height="150" src="/camp/static/riding" alt="Campers riding horses" class="attachment-thumbnail size-thumbnail colorbox-10 "/></a></li><li class="gallery-item"><a class="thumbnail img-thumbnail" href=''><img width="144" height="150" src="/camp/static/swimming" alt="Campers swimming" class="attachment-thumbnail size-thumbnail colorbox-10 "/></a></li><li class="gallery-item"><a class="thumbnail img-thumbnail" href='http://covenantpines.org/assets/2015-Summer-Brochure-23.jpg'><img width="150" height="150" src="/camp/static/dancing" alt="Campers swimming" class="attachment-thumbnail size-thumbnail colorbox-10"/></a></li><li class="gallery-item"><a class="thumbnail img-thumbnail" href=''><img width="150" height="150" src="/camp/static/friendship" alt="Campers swimming" class="attachment-thumbnail size-thumbnail colorbox-10 "/></a></li></ul>
    <h1>Adult Week</h1>
    <p>Adult week brings the best of Covenant Pines summer program and quality staff to your entire family. These long “weekends” give a great opportunity for spiritual renewal and growth within your family as you play and worship together.</p>
