{{extend 'layout.html'}}

<div class="container">
  <div class="row">
    <div id="web2py_user_form" class="col-lg-6">
    	<p class="lead">Volunteer Nurses</p>
			<img width="700" height="393" frameborder="0" src="/camp/static/nurses" alt="Camp Nurses" class="attachment-thumbnail size-thumbnail colorbox-10 ">
      <h1>Would you like to be a nurse at Special Camps?</h1>
      <p>
      	RN nurses are  volunteers that play and enjoy serving children and adults with intellectual disabilities and autism. Three nurses are needed each week to dispense large quantities of medication, treatments and tend to minor injuries as they arise in a camp setting. When your not dispensing medication, (mostly at meal times), our nurses are often found playing, dancing and participating in fun activities alongside our wonderful campers.
     	</p>
     	<p>
     		The White Pines ranch is in Oregon, IL, (1/2 hour West of DeKalb). It’s a beautiful horse ranch, that is rented exclusively for our camp use both weeks. Friendship, love, lots of laughter and hugs fill this small village. White Pines ranch is a beautiful, clean, dorm style, overnight camp experience. Our nurses enjoy a private sleeping quarters area, with their own dressers and their own separate showering area.
     	</p>
		 	<p>
		 		We have wonderful camp nurses that will be there to guide you from previous years. Most of our campers simply could not attend Special Camps, without loving, caring nurses to tend to their medical needs. Please help us, so we can continue to call Special Camps the "most loving place on Earth".
		 	</p>
		 	<p>
		 		For more information, or to speak to one of the nurses you'll be working / playing alongside, please call Colleen at (630) 690-0944.
		 	</p>
    </div>
  </div>
</div>
