{{extend 'layout.html'}}

<div class="container">
  <div class="row">
    <div id="web2py_user_form" class="col-lg-6">
    	<h1>Camper Registration</h1>
      <p><iframe width="700" height="393" frameborder="0" src="https://www.youtube.com/embed/MIzIA11aBco"></iframe></p>
      <p>
        Special Camps provides opportunities for new friendships, encourages independence and helps build self-esteem in an all volunteer run camp to benefit children and adults with intellectual disabilities.
      </p>
      <p>
        Dates:<br>
        Sunday-Friday: June 5-10, ages 21+<br>
        Sunday-Friday: June 12-17, ages 8-20</br>
        Special Camps at White Pines Ranch: Oregon, IL</br>
        Special Camps will be hosted at White Pines Ranch in Oregon, IL. While Pines is located about 30minutes west of Dekalb.</br>
        Daytime activities include: Grooming, Painting, and Riding Horses</br>
      </p>
    </div>
  </div>
</div>
