{{extend 'layout.html'}}

<div class="container">
    <div class="row">
        <div id="web2py_user_form" class="col-lg-6">
        	<p class="lead">Staff Application</p>
            <p><iframe width="700" height="393" frameborder="0" src="https://www.youtube.com/embed/MIzIA11aBco"></iframe></p>
            <p>
                Dear New Staff Members,<br>
            </p>
            <p>
                Special Camps is now accepting applications for it’s all volunteer program for kids and adults with intellectual disabilities. Staff must be 22 years old by June, 2016. We look forward to meeting you and sharing this tremendously rewarding experience, as we (the volunteers), receive as much joy, laughter, and fulfillment as our campers.<br>
            </p>
            <p>
                We rent White Pines Ranch located approximately 30 minutes West of DeKalb, in Oregon, IL. The ranch offers exceptionally clean, dorm style camping.<br>
            </p>
            <p>
                We need adults to sere as volunteer cabin parents / activity leaders and nurses.  As a cabin parent / activity leader you will lead and assist your small group of special needs campers and volunteer teen camp counselors in activities during the day, and sleep in the dorm with us at night.  Our nurses dispense all medications, tend to minor injuries and play alongside our campers. Nurses have their own sleeping / showering quarters. Activities consist of swimming, archery, sports, crafts, music, gold mining, wood working, horseback riding, talent shows and more. You do not need to have experience. All volunteers work and play alongside our experienced volunteers.<br>
            </p>
            <p>
                There are two camp sessions:<br>
            </p>
            <p>
            	Sunday-Friday, June 5-10 for adult campers
            	Sunday-Friday, June 12-17 for children ages 8-21
            </p>
            <p>
                Please complete the enclosed application to the address listed on top of the page. You will  then receive an acceptance packet confirming the dates, time, directions to camp, as well as a list of personal items you may wish to pack. If I can help answer any questions, please don’t hesitate to give me a call. 
            </p>
            <p>
        		Sincerely,<br><br>
            </p>
            <p>
        		Colleen McDonald<br>
        		President and Camp Director at Special Camps
            </p>
            <hr>
            {{=form}}
        </div>
    </div>
</div>
