{{extend 'layout.html'}}

<div class="container">
  <div class="row">
    <div id="web2py_user_form" class="col-lg-6">
    	<p class="lead">Staff</p>
			<p>
				<img width="700" height="393" frameborder="0" src="/camp/static/nurses" alt="Camp Nurses" class="attachment-thumbnail size-thumbnail colorbox-10 ">
			</p>
    	<h1>Are you interested in volunteering as a staff member?</h1>
    	<p>
    		Special Camps offers enriching opportunities for adults over the age of 21 to experience the joy and compassion of Special Camps too. You'll give our campers your full attention, love, patience and respect. In return, you'll be repaid a thousand times with the knowledge you’ve helped our campers increase self-esteem, independence, make new friends and gave our special needs campers wonderful memories.
    	</p>
    	<p>
    		You’ll enjoy great activities along side your campers including swimming, horseback riding, music, digging for gold, sand volleyball, basketball,  archery, water games, crafts, field games and more.  At night we’ll have large all-camp parties.
			 </p>
			 <p>
					You need not have experience to apply. You'l have a great time paired up with one of our experienced staff members. 
			 </p>
			 <p>
				Adults over the age of 21 are needed to serve in the role of RN nurses, cabin parents, and activity leaders. We are a 100% volunteer run camp, and all staff members receive training and are paired up with experienced volunteers.
			</p>
			<p>
				To fill out an application, {{=A('click here', callback=URL('staff_app'))}}
			</p>
    </div>
  </div>
</div>
