{{extend 'layout.html'}}

<div class="container">
  <div class="row">
    <div id="web2py_user_form" class="span9">
	  	<p class='lead'>Transportation</p>
	  	<p>
	  		Free transportation is available via a large Coach to bring campers and counselors home. Transportation is only available one way and will not be available to bring campers to camp. Please mark your preference. Buses will array at their destinations at around 3:30pm on Friday.
	  	</p>
        {{=form}}
    </div>
  </div>
</div>
