{{extend 'layout.html'}}

<div class="container">
    <div class="row">
        <div id="web2py_user_form" class="col-lg-6">
        	<p class="lead">Wish List</p>
<p><iframe width="700" height="393" frameborder="0" src="https://player.vimeo.com/video/150806053?color=ff9933"></iframe></p>
        	<h1>Interested in donating to Special Camps?</h1>
        	<p>Join Special Camps 100% volunteer run camp. Teens ages 13 - 20 are needed to serve as camp counselors who play side by side with a special needs camper.
 
We’ll give our special needs campers our full attention, love, patience and respect. In return, we’ll be repaid a thousand times with the knowledge we’ve helped our campers increase self-esteem, independence, make new friends and gave our campers wonderful memories. You’ll enjoy great activities along side your campers including swimming, horseback riding, music, digging for gold, sand volleyball, basketball,  archery, water games, crafts, field games and more.  At night we’ll have large all-camp parties.</p>
<p>To fill out an application, {{=A('click here', callback=URL('counselor_app'))}}
</p>
        </div>
    </div>
</div>
